h2,
h4 {
  color: rgb(114, 144, 201);
}

h3 {
  background-color: rgb(114, 144, 201);
  padding: 20px;
  margin-bottom: -8px;
  cursor: pointer;
}

#homelink {
  color: aliceblue;
  text-decoration: none;
}

.navbar {
  background-color: aliceblue;
  margin-top: -10px;
}

body {
  background-color: rgb(191, 207, 235);
}

.content {
  position: relative;
  border: 1px;
  background-color: aliceblue;
  padding: 20px;
  margin-top: 20px;
}

p {
  padding: 30px;
}

#sidebar_box {
  background-color: aliceblue;
  padding: 20px;
}

#sidebar {
  margin-top: 20px;
  cursor: pointer;
}

.mycondlink {
  display: none;
}

.responsive {
  max-width: 100%;
  height: auto;
}

#data_box {
  padding: 50px;
}

.dataframe {
  width: 90%;
  background-color: aliceblue;
}

td,
th {
  width: 2%;
}

tr:nth-child(odd) {
  background-color: rgb(210, 223, 247);
}

@media screen and (max-width: 991.98px) {
  .wrap {
    width: 90%;
    margin: auto;
  }

  .navbar{
    background-color: rgb(114, 144, 201) ;
  }

  .content,
  .sidebar {
    width: 100%;
    position: static;
  }

  .sidebar {
    width: auto;
    height: auto;
  }

  #mynav-dropdown {
    display: none;
  }

  .mycondlink,
  .mylink {
    display: inline;
    padding: 15px;
  }

  .dataframe {
    text-align: center;
    width: 2%;
  }
}
